
<div class="card-items">
  <div class="card-container">


    <div class="card-item">
      <app-card-icons [title]="'العناصر'" [description]="'البحث عن بيانات الموظفين '"  [icon]="'employee-info'" [link]="'list'"></app-card-icons>
  </div>
  <div class="card-item">
    <app-card-icons [title]="'رفع بيانات الموظف'" [description]="'تحميل بيانات الموظفين بملف اكسيل'"  [icon]="'upload'"  [link]="'file-upload'"></app-card-icons>
    </div>

  <div class="card-item">
  <app-card-icons [title]="'ترقيات'" [description]="'ترقيات الموظفين'"  [icon]="'employee-promotion'" [link]="'employee-prmotion'"></app-card-icons>
  </div>

  </div>
  </div>

