@font-face {
  font-family: 'Cairo';
  src: url('./assets/fonts/Cairo-Regular.ttf');
}
:root {
  --primary-color: #153d77;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --success-color: #198754;
  --delete-color: #e22511;
  --background-color: #f2f2f2;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-toaster {
  color: white;
  --mdc-snackbar-container-color: var(--success-color);

  .mat-simple-snackbar-action {
    color: white;
  }
}
.fail-toaster{
  max-width: max-content !important;
  color: white;
  --mdc-snackbar-container-color: var(--delete-color);
  border-color: #f5c6cb;

  .mat-simple-snackbar-action {
    color: white;
  }
}
.light-success-snackbar {
  color: #155724;
  --mdc-snackbar-container-color: #d4edda;

  .mat-simple-snackbar-action {
    color: darkgreen;
  }
}

.light-error-snackbar {
  color: #721c24;
  --mdc-snackbar-container-color: #f8d7da;
  border-color: #f5c6cb;
  .mat-simple-snackbar-action {
    color: darkred;
  }
}

.info-toaster{
  color: black;
  --mdc-snackbar-container-color:  yellow;
  border-color: #f5c6cb;
  .mat-simple-snackbar-action {
    color: darkred;
  }
}

 .mat-mdc-option.mat-mdc-option-active{

    color: #000000 !important;
    background-color: #bf4a09 !important;


}

    .mat-mdc-option{
      color: #000000 !important;
     // background-color: red !important;

    }
    .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel{
      color: #000000 !important;
      background-color: #212b2e !important;
    }
.mat-mdc-select-panel{

  color: #000000 !important;
  background-color: #212b2e !important;
}
    .mat-mdc-option:hover:not(.mdc-list-item--disabled){
      background-color: rgba(191, 74, 9,.8) !important;
      color:#000000 !important;

  }
  .mat-mdc-select-value-text{
    span{
color: #000000 !important;}
  }
  .mat-mdc-select-placeholder{
    color: rgba($color: #000000, $alpha: .5) !important
  }

  .mat-calendar-header{

    background-color: rgba(191, 74, 9,1) !important;
    *{
    //  color:  rgba(189, 100, 52, 0.9) !important;
      color: #fff

    }
    .mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base{
      color: #fff;
    }
    .mat-calendar-body-label{
      color: #fff;
    }
  }

  .mat-datepicker-content {

    background-color: rgba(32, 41, 42, 1) !important  ;
  }
  mat-card.dialog-container{

          padding: 60px 30px;
       //   background-color: rgba(23, 28, 29,.9) !important;
          overflow: hidden;
          color: #fff;
          font-family: Cairo;
          padding-bottom: 30px;
          display: flex;
          justify-content: flex-start;
          mat-card-header{
        display: flex;
        justify-content: center;align-items: center;
        background-color: rgba($color: #a8abac, $alpha: 1) !important;
        color: #000;
        position: absolute;
        top: -0px;
        right: -2px;
        width: 100%;
        .close-button{
          position: absolute;
          right: 25px;
          top:1px;
          justify-content: space-between;
          align-items: center;
          .mat-icon{
            position: relative;
          right: -20px !important;
          color :#fff;
          background-color: #198754;
          padding: 5px;
          border-radius: 40px;
          transition: 0.6s;

          &:hover{
            transition: 0.6s;
            transform: rotate(180deg);
            font-weight: bolder;
            background-color: #bf4a09;
            color: #fff;
            border: 0px solid #fff;
            cursor: pointer;
          }
          }

        }
        .title{
          font-weight: bolder;
          text-shadow:  10px 10px 10px #000;
          position: relative;
          top: -10px;
        }

    }
    mat-card-content{
      form{
        padding-top: 20px;
        mat-form-field{
          width: 100%;
        }
      }
    }
    .footer{
      display: flex;
      justify-content: center;

    }

}
