<div class="container">

  <div class="file-upload-container">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="drop-down-group" >

    </div>
    <div class="icon">
      <img src="../../../assets/images/svg/cloud-upload.svg" alt="">
      </div>

    <input class="form-control"

    type="file"
    accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    (change)="onChange($event)">

  <button  color = "primary" type="submit"

  [disabled]="uploadForm.invalid"
  class="btn btn-success btn-upload">
  Upload
  </button>

    </form>
  <div class="loading" *ngIf="loading">
    <h3>Loading ...</h3>
    <mat-spinner color="primary"></mat-spinner>

    <mat-progress-bar class="progress-bar" mode="determinate"
    [value]="uploadProgress" *ngIf="uploadProgress">

  </mat-progress-bar>
  <!--
  <mat-icon class="cancel-upload" (click)="cancelUpload()"
  *ngIf="uploadProgress">delete_forever</mat-icon> -->
    </div>
  </div>
  </div>

  <div class="container text-center jumbotron"
  *ngIf="shortLink">
  <h2> Visit Here</h2>
  <a href="{{shortLink}}">{{shortLink}}</a>
  </div>



