
<div class="card-items">
<div class="card-container">


  <div class="card-item">
    <app-card-icons [title]="'رفع بيانات الموظف'" [description]="'تحميل بيانات الموظفين بملف اكسيل'"  [icon]="'employee-info'" [link]="'details'"></app-card-icons>
</div>
<div class="card-item">
<app-card-icons [title]="'رفع بيانات الموظف'" [description]="'تحميل بيانات الموظفين بملف اكسيل'"  [icon]="'part-time'" [link]="'file-upload'"></app-card-icons>
</div>
<div class="card-item">
<app-card-icons [title]="'رفع بيانات الموظف'" [description]="'تحميل بيانات الموظفين بملف اكسيل'"  [icon]="'upload'"></app-card-icons>
</div>
<div class="card-item">
<app-card-icons [title]="'رفع بيانات الموظف'" [description]="'تحميل بيانات الموظفين بملف اكسيل'"  [icon]="'employee'" (click)="openInfoSnack()"></app-card-icons>
</div>
<div class="card-item">
<app-card-icons [title]="'رفع بيانات الموظف'" [description]="'تحميل بيانات الموظفين بملف اكسيل'"  [icon]="'bill'"   (click)="openSuccessSnack()"></app-card-icons>
</div>
<div class="card-item">
<app-card-icons [title]="'رفع بيانات الموظف'" [description]="'تحميل بيانات الموظفين بملف اكسيل'"  [icon]="'calender'" (click)="openFailSnack()"></app-card-icons>
</div>
</div>
</div>

