
<div class="card-items" >
  <div class="card-container" >


  <div class="card-item">
    <app-card-icons
    [title]="' بيانات الموظفين'"
    [description]="'البحث عن بيانات الموظفين '"
    [icon]="'employee-info'"
    [link]="'list'">
    </app-card-icons>
  </div>
  <div class="card-item">
    <app-card-icons
    [title]="'رفع بيانات الموظف'"
    [description]="'تحميل بيانات الموظفين بملف اكسيل'"
    [icon]="'upload'"
    [link]="'file-upload'">
    </app-card-icons>
  </div>

  <div class="card-item">
    <app-card-icons
    [title]="'بيانت الموظف الماليه'"
    [description]="'تحميل بيانات الموظفين الماليه بملف اكسيل'"
    [icon]="'employee-financial-data'"
    [link]="'/employee-basic-financial-data/upload'">
    </app-card-icons>
  </div>

  </div>
</div>

