<!-- <div class="dialog-container">
  <div mat-icon-button  class="close-button" (click)="onNoClick()">

  <mat-icon>close</mat-icon>

  <div class="title">اضافة بنك جديد</div>
  </div>


</div> -->


<mat-card class="dialog-container">
  <mat-card-header>
    <div mat-icon-button  class="close-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
      </div>
    <div>
      <mat-card-title class="title">أضافة بنك جديد</mat-card-title>
    </div>


  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input matInput placeholder="اسم البنك"  formControlName="name">
        </mat-form-field>


      </div>
      <div class="footer">
        <button mat-raised-button color="primary" [disabled]="form.invalid">
        حفظ
        <mat-icon>save</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="onNoClick()">
        الغاء
        <mat-icon>save</mat-icon>
      </button>
    </div>

    </form>
  </mat-card-content>

</mat-card>
