

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <div class="contents">
      <!-- <video autoplay muted loop id="myVideo" >
        <source src="../assets/bg/Technology_09.mov" type="video/mp4" >

      </video> -->

      <!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->
<div class="video-container">
  <video autoplay loop muted id="video-bg">

    <source src="../assets/bg/Technology_09.mov" type="video/mp4" />

  </video>
</div>
      <div class="nav-bar-container">

        <mat-toolbar>
      <div>


    <ng-container *ngIf="(accountService.currentUser$|async)==null" >

    <div class="auth-user" >
      <a  mat-icon-button  routerLink="/account/login" routerLinkActive="router-link-active">
        <mat-icon>login</mat-icon>
      </a>

    <span>  Please Login</span>
    </div>

    </ng-container>
    <ng-container *ngIf="(accountService.currentUser$|async) as user">
    <div class="auth-user">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"   (click)="drawer.toggle()"       [hidden]="(accountService.currentUser$|async)===null">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">

        <mat-icon>logout</mat-icon>
      </button>

      <span class="welcome-msg">

       مرحبا بك

       <span class="user-name">

       {{(accountService.currentUser$|async).displayName}}
      </span>
      </span>
    </div>


    </ng-container>
      </div>
          <span class="spacer">

          </span>

    <div class="title">

      <span>الوحدة الحسابيه المركزيه للمجمع الطبى </span>

    </div>
        </mat-toolbar>

      </div>

    </div>
  <!-- Add Content Here -->



<div>

  <div class="layout-container">

  <router-outlet></router-outlet>
  </div>

</div>



</mat-sidenav-content>
<mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    opened= false

    >

  <mat-toolbar class="menu title"  >

    القائمه
    <mat-divider></mat-divider>
   </mat-toolbar>

  <mat-nav-list class="list" >
    <a mat-list-item [routerLink]="['/employee']" routerLinkActive="active" > <mat-icon>people</mat-icon> الموظفين  </a>
    <a mat-list-item [routerLink]="['/']"  routerLinkActive="active" >  <mat-icon>receipt</mat-icon> ملفات الاوامر  </a>
    <a mat-list-item  [routerLink]="['/bank']" routerLinkActive="active" > <mat-icon>home_work</mat-icon> البنوك  </a>
    <a mat-list-item  [routerLink]="['/bank']" routerLinkActive="active" >
      <img src="./../../../../../assets/images/svg/bill.svg" alt="" style="width: 20px;height: 20px;position: relative;top: 5px;">
       22البنوك  </a>

  </mat-nav-list>
</mat-sidenav>

</mat-sidenav-container>
