.menu.title{
  height: 103px !important;
  background-color:rgba($color: #263238, $alpha: 1) !important;
 // background-color:rgba($color: #000000, $alpha: .2) !important;
  color:#fff;
  //border-bottom:4px solid rgba(#fff,0.5) ;
  border-left: rgba($color: #000000, $alpha: .2) !important;;
  display: flex;
  justify-content: center;
  text-decoration: underline ;
font-size: 24px;
mat-icon{
position: relative;
  top:3px;
padding: 3px}
text-decoration: none;
  }
.nav-bar-container{

  .mat-toolbar{

    display: flex;
    padding: 50px 40px;
    position: sticky;
    background-color:rgba($color: #263238, $alpha: 0.8) !important;

    justify-content: space-between;
    border-bottom: 4px solid rgba(#fff,0.5);

.title{
  font-size: 24px;
  font-weight: bolder;
  text-decoration:double;
  color: #7da7bd;
  text-shadow: 10px 10px 10px rgba($color: #6f8792, $alpha: .5);
}
    .spacer{

    }
  }
  .auth-user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    .welcome-msg{
      position: relative;
      top:-5x;
      padding:5px;
      .user-name{
        font-weight: bold;
      }
    }
  }

}
::ng-deep{
  span{
    color: #fff !important;
    font-family: Cairo !important;

  }

}

.list{
  color: #fff;


  a{
    padding: 30px;
    position: relative;
        mat-icon{
          position: relative;
          top: 5px;
        }
        :active{
          background-color:#35439e ;
        }
  }

}
mat-sidenav{
  border-left: 4px solid  rgba($color: #fff, $alpha: .4) !important;
  width: 230px !important;
  background-color:rgba($color: #263238, $alpha: 0.8) !important;
}

#video-bg {
  position: relative;

 width: auto;
  min-width: 100%;
 height: auto;
  background: transparent url(./../../../../../assets/bg/Technology_09.mov) no-repeat;
  background-size: cover;
}
video {
 display: block;
}
.video-container {
  width: 100%;

  overflow: hidden;
  position: fixed;
  top: 0;
 right: 0;
  z-index: -100;
}
  .layout-container{
  height:90vh;

 padding: 40px;

  }
  .nav-bar{
    // position: sticky;
  }


.sidenav{
 // width: 240px !important;
  //;
}
.mat-drawer{
  width: 200px;


}
.active{
  background-color: rgba(23, 28, 29,0.6);
}


