
<div class="card-items">
  <div class="card-container">


    <div class="card-item">
      <app-card-icons [title]="'البنوك'" [description]="'بيانات البنوك المسجلة بالنظام'"  [icon]="'bank'" [link]="'bank-list'"></app-card-icons>
  </div>
  <div class="card-item">
    <app-card-icons [title]="'الفروع'" [description]="'بيانات الفروع المسجلة'"  [icon]="'branches'"  [link]="'file-upload'"></app-card-icons>
    </div>

  <div class="card-item">
  <app-card-icons [title]="'ترقيات'" [description]="'ترقيات الموظفين'"  [icon]="'employee-promotion'" [link]="'employee-prmotion'"></app-card-icons>
  </div>

  </div>
  </div>
