.mat-column-details{
  width: 50%;
}
.mat-column{
  text-align: center !important;
}
.mat-mdc-header-cell {
  background-color: #d4d6d6 !important;
  color: #000;
  text-align: center !important;
}
.mat-mdc-cell{
  text-align: center !important;
  color: #fff !important;
}
.mat-mdc-table{
background-color: rgb(32 41 42 / 90%) !important;
border: 2px solid rgba($color: #fff, $alpha: 0.6)  !important;

}
